@import "reset.css";

body._lock {
  overflow: hidden;
}
/*---background---*/
.background__photo-two {
  background-image: url(background-image/branches_foreground4.png);
  background-size: 100%;
  background-repeat: repeat-y;
  height: 100%;
  margin-top: 70px;
}
.background__photo-one {
  background-color: rgba(7,30,43,1);
  background-image: url(background-image/bg_clouds04.png);
  background-attachment: fixed;
}
/*---header---*/
.wrapper {
  min-height: 100vh;  
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #000;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  min-height: 70px;
  margin: 0px auto;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 4vw;
  padding-right: 4vw;
}
.header-logo {
  z-index: 5;
}
.header-logo_img {
  max-width: 100%;
  max-height: 50px;
}
.menu-icon {
  display: none;
}
@media (max-width: 767px) { 
  .menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu-icon span,
  .menu-icon::before,
  .menu-icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu-icon::before,
  .menu-icon::after {
    content: "";
  }
  .menu-icon::before {
    top: 0;
  }
  .menu-icon::after {
    bottom: 0;
  }
  .menu-icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu-icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu-icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu-icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}
.menu-body._active {
    top: 0;
  }
.menu-body::before {
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  height: 70px;
  background-color: #000;
  z-index: 2;
}
@media (max-width: 767px) { 
  .menu-body {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: top 0.35s ease 0s;
    overflow: auto;
  }
}
@media (max-width: 767px) { 
  .wrapper__razdelitel {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 767px) { 
   .menu-list._active {
    top: 0;
  }
  .menu-list > li {
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu-list > li:last-child {
    margin-bottom: 0;
  }
  .menu-list > li._active .menu__sub-list {
    display: block; 
  }
}
@media (min-width: 767px) { 
  .menu-list { 
    display: flex; 
    align-items: center;
  }
}
.menu-list > li { 
  position: relative; 
  margin: 0px 0px 0px 20px;
} 
@media (min-width: 767px) { 
  .menu-list > li { 
    padding: 10px 0;
  }
}
body._touch .menu-list > li._active .menu-arrow {
  transform: rotate(-180deg);
}
body._pc .menu-list > li._activrrow {
  transform: rotate(-180deg);
}
body._pc .menu-list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
body._touch .menu-list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
body._touch .menu-list > li {
  display: flex;
  align-items: center;
}
body._pc .menu-list > li {
  display: flex;
  align-items: center;
}
body._pc .menu-list > li._active .menu-arrow {
  transform: rotate(-180deg);
}
.menu-link { 
  color: #fff; 
  letter-spacing: 2px;
  font-size: 23px;
}
.menu-link:hover {
  text-decoration: underline;
}
@media (max-width: 767px) { 
  .menu-link {
    font-size: 30px;
    padding: 15px 10px;
  }
}
.menu-arrow {
  display: none;
}
body._touch .menu-arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 9px;
  transition: transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
}
@media (max-width: 767px) { 
  body._pc .menu-arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 9px;
  transition: transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
  }
}
@media (min-width: 767px) { 
  .menu__sub-list > li { 
    padding: 10px 0;
  }
}
.menu__sub-list { 
  position: absolute; 
  top: 100%;
}
.menu__sub-list li:last-child {
  margin: 0;
  margin-top: 5%;
}
@media (min-width: 767px) { 
  .menu__sub-list {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    background-color: #000; 
    padding: 15px; 
  }
.menu__sub-list li {
  margin: 0px 0px 10px 0px;
  padding: 10px 0;
  }
}
@media (max-width: 767px) { 
  .menu__sub-list {
    position: relative;
    flex: 1 1 100%;
    display: none;
    text-align: center;
  }
}
@media (min-width: 767px) { 
  .menu__sub-list > li { 
    padding: 10px 0;
  }
}
.menu-sub_link {
  color: #fff;
}
.menu-sub_link:hover {
  text-decoration: underline;
}
@media (max-width: 767px) { 
  .menu-sub_link {
    font-size: 20px;
  }
}
/*---main---*/
.main__page {
  margin-bottom: 5em;
}
.main__page-video {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 }
.main__page-full__screen {
  position: relative;
  min-height: 100vh;
/*display: flex;
  flex-direction: column;*/
}
.main__page-full-screen__all   {
  z-index: 2;
  padding-right: 3vw;
  padding-left: 3vw;
  max-width: 75em;
  margin: 0 auto;
}
.main__page-fu4l-screen__title {
/*z-index: 2;
  text-align: center;
  margin-top: 1em;*/
}
.main__page-full-screen__title:first-child {
	/*margin-top: 8.125em;*/
}
.menu {
	
} 
.menu a {
	text-decoration: none;
}
.menu.a {
	margin: 0px 30px 0px 0px;
}
.menu li {
	list-style: none;
	position: relative;
}
.menu__list {
	display: block;
}
.menu__list > li {
}
.menu__list>li:hover .sub-menu__list {
	display: none;
}
.menu__link {
	color: #fff;
	background-color: rgba(7,20,28);
}
.menu__link h1 {
    padding-right: 4vw;
}
.main__page-full-screen__tittle-text > a {
  color: #666666;
}
.main__page-full-screen__tittle-text {
  color: white;
  letter-spacing: 1px;
  margin-right: 38px;
}
/*.menu__link > h2 {
	 border-radius: 10px;
}*/
@media screen and (min-width: 1080px) {
  .main__page-full-screen__tittle-text {
  	font-size: 2em;
    padding: 1rem 1.8rem;
  }  
}
@media (max-width: 1079px) {
  .main__page-full-screen__tittle-text {
    font-size: calc((2.4 - 1) * 1vw + 1rem);
    padding: 1rem 0.8rem;
	} 
}
.main__page-full-screen__tittle-text-nav {
  margin: 3em 0 1.5em 0;
  color: white;
  text-align: center;
  /*font-weight: 600;*/
  letter-spacing: 5px;
  /*margin-right: 38px;*/
  /*background-color: rgba(0, 0, 0, 0.75);*/
  background-color: #83838361;
}
/*.menu__link > h2 {
  border-radius: 10px;
}*/
@media screen and (min-width: 1080px) {
  .main__page-full-screen__tittle-text-nav {
    font-size: 2.8em;
    padding: 1rem 1.8rem;
  }  
}
@media (max-width: 1079px) {
  .main__page-full-screen__tittle-text-nav {
    font-size: calc((3.4 - 1) * 1vw + 1rem);
    padding: 1rem 0.8rem;
  } 
}
.menu__arrow {
}
.arrow {
	margin-left: 15px;
	display: none;
	position: absolute;
	right: 20px;
	top: 18px;
	width: 0;
	height: 0;
	border-top: 20px solid #fff;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
}
@media (min-width: 767px) { 
	.arrow {
		border-top: 17px solid #fff;
		border-right: 12px solid transparent;
		border-left: 12px solid transparent;
	}
}
@media (max-width: 767px) { 
	.arrow {
		border-top: 13px solid #fff;
		border-right: 8px solid transparent;
		border-left: 8px solid transparent;
	}
}
.arrow.active {
	transform: rotate(-180deg);
}

.sub-menu__list {
	display: none;
	min-width: 300px;
	position: relative;
	left: 0;
	top: 0;
	margin-top: 10px;
}
.sub-menu__list > li {
	background-color: rgba(7,20,28);
}
.sub-menu__link {
	color: #000;
	display: inline-block;
}
body.touch .arrow {
  cursor: pointer;
	display: block;
}
body.touch .menu__link {
  cursor: pointer;
  display: block;
}
body.touch .sub-menu__list.open {
	display: block;
}


@media screen and (min-width: 1080px) {
	body.touch .sub-menu__list.open {
		max-width: 70em;
	}
}
@media screen and (max-width: 1079px) {
	body.touch .sub-menu__list.open {
		/*max-width: 42em;*/
	}
}
@media screen and (min-width: 1080px) {
  .menu__link > h1 {
    font-size: calc(2.8 * 1rem);
  }
}
@media screen and (max-width: 1079px) {
  .menu__link > h1 {
    font-size: calc((2.8 - 1) * 1.2vh + 1rem);
  }
}
@media screen and (min-width: 1080px) {
  .menu {
    margin: 3.125em 0;
  }
}
@media screen and (max-width: 1079px) {
  .menu {
    margin: 2.125em 0;
  }
}






.page-section_ONE { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.page-section_ONE__sub {
  position: relative;
  display: flex;
  flex-direction: column;
}
.page-section_ONE__sub-menu {
  margin-top: 15%;
  display: flex;
  justify-content: center;
}
.page-section_ONE__text {
  text-align: center;
  line-height: 1.75;
  text-shadow: 2px 1px 2px #000;
  position: absolute;
  z-index: 2;
  padding-right: 5vw;
  padding-left: 5vw;
}
.page-section_ONE__text h1 {
  letter-spacing: 4px;
  margin: 1rem 0; 
  background-color: rgba(0,0,0,.5);
  padding: 0 20px;
}
.page-section_ONE__text p {
	margin-top: 3.8em;
  padding-right: 2vw;
  padding-left: 2vw;
  max-width: 45em;
}
.page-section_ONE__sub-first-photo {
  position: absolute;    
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
@media screen and (min-width: 1080px) {
  .page-section_ONE__text p {
    font-size: calc(2.2 * 1rem);
  }
  .page-section_ONE__text h1 {
    font-size: calc(3.5 * 1rem);
  }
}
@media screen and (max-width: 1079px) {
  .page-section_ONE__text p {
    font-size: calc((2.5 - 1) * 1.2vh + 1rem);
  }
  .page-section_ONE__text h1 {
    font-size: calc((4.2 - 1) * 1.2vw + 1rem)
  }
}
.items {
  padding: 30px 0;
}
/*-----page-section_SIX------*/
.page-section_SIX {
  background-color: black;
}
.page-section_SIX-sub-photo {
  display: flex;
  margin: 2em;
  flex-direction: column;
}
.page-section_SIX-sub-img {
  /*margin: 1em;*/
  display: flex;
  justify-content: center;
}
.page-section_SIX-img {
  max-width: 150px;
} 
.page-section_SIX-sub-icon  {
  display: flex;
  justify-content: center;
  margin: 1em;
}
.page-section_SIX-sub-icon-name img {
  max-width: 30px;
}
.page-section_SIX-sub-icon-name:nth-child(n+2) {
  margin: 0 0 0 10px;
}
/*.page-sction_SIX-big-sub {
  display: flex;
  justify-content: center;  
}*/